

#team1{
	margin: 0 auto;
	margin-top: 12vh;
	border: 1px solid black; 
	width: 45vw;
	height: 130vh;
	float: left;
	background-color: #325BFF;

}


#team2{
	margin: auto;
	margin-top: 12vh;
	border: 1px solid black; 
	width: 45vw;
	height: 130vh;
	float: right;
	background-color: #2A3870;

}

#bottomDiv{
	margin: auto;
	margin-top: 145vh;
	border: 1px solid black;
	width: 95vw;
	background: linear-gradient(to right, #325BFF, #2A3870, #2A3870); 
	
}

#bottomDiv th{
	color: white;
}

h2{
	text-align: center;
}

table {
    margin: 0 auto;
    margin-top: 5vh;
    border: 1px solid black;
    border-radius: 10px;
}

#firstTable th, #secondTable th, #serieT th {
    background-color: #2A3870;
    color: white;
    font-size: 105%;
    height: 3.5vh;
}

#FirstTable th, #SecondTable th, #SerieT th {
    background-color: #325BFF;
    font-size: 105%;
    height: 3.5vh;
}

#firstTable td, #secondTable td, #serieT td, #FirstTable td, #SecondTable td, #SerieT td{
	background-color: white;
}
td{
	
	text-align: center;
	font-size: 130%;
	height: 4vh;
}
canvas{
	width: 20vw;
	height: 20vh;
}
#serieT, #SerieT{
	margin-top: 75vh;
	
}

#serieCol{
	font-size: 120%;
	height: 3vh;
}
